.business-types {
    padding: 14rem 0 20rem;
    background: #F6F7FF;
    @include sm {
        padding: 4.1rem 0;
    }
    &__display {
        &--flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__padding {
        padding: 0 10rem;
        @include lg {
            padding: 0 1.5rem;
        }
    }
    &__heading {
        font-size: 1.8rem;
        &__margin {
            margin-bottom: 9.7rem;
            @include sm {
                margin-bottom: 2.5rem;
            }
        }
    }
    &__item {
        position: relative;
        margin-bottom: 1.5rem;
        @include sm {
            margin-bottom: 2.5rem;
        }
        &__text {
            position: relative;
            font-size: 6.8rem;
            line-height: 10rem;
            font-weight: 800;
            display: inline;
            text-transform: uppercase;
            color: $dark-blue;
            -webkit-text-stroke: 0.2rem $dark-blue;
            -webkit-text-fill-color: #fff;
            cursor: pointer;
            &:hover {
                -webkit-text-fill-color: $dark-blue;
                &~.business-types__item__image {
                    display: block;
                    @include sm {
                        display: none;
                    }
                }
            }
            @include sm {
                font-size: 2.6rem;
                line-height: 2.2rem;
                -webkit-text-stroke: 0.1rem $dark-blue;
            }
        }
        &__image {
            position: absolute;
            width: 24.1rem;
            height: 26.5rem;
            text-align: center;
            display: none;
            z-index: 2;
            .business-types__item__image-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 10px 30px rgba(124, 133, 157, 0.45);
                border-radius: 2px;
            }
        }
        &--disabled {
            padding-right: 5.5rem;
            cursor: default;
            pointer-events: none;
            opacity: 0.4;
            @include sm {
                padding-right: 4.4rem;
            }
        }
        &__status {
             position: absolute;
             bottom: 7rem;
             right: -5rem;
             width: 5rem;
             height: 2rem;
             color: #fff;
            -webkit-text-stroke: 0 $dark-blue;
             font-size: 1.2rem;
             display: flex;
             align-items: center;
             justify-content: center;
             background: #2353DA;
             border-radius: 2.2rem;
             text-transform: none;
             @include sm {
                 bottom: 0.8rem;
                 height: 50%;
                 width: 4.4rem;
                 height: 1.6rem;
                 font-size: 1rem;
             }
        }
    }
    &__beauty-salon {
        top: -8rem;
        right: -12rem;
        .business-types__item__image-background {
            background: #FFB0E0;
            transform-origin: 100% 100%;
            transform: rotate(4.89deg);
        }
        .business-types__item__img {
            position: relative;
        }
    }
    &__cafe {
        top: -14rem;
        right: 4rem;
        .business-types__item__image-background {
            background: #FCCE2A;
            transform-origin: 100% 100%;
            transform: rotate(-7.26deg);
        }
        .business-types__item__img {
            position: relative;
        }
    }
}