.liquid-button {
    path {
        cursor: pointer;
    }
    text {
        font-size: 1.4rem;
        font-family: Arial;
        font-weight: bold;
    }
    &.liquid-button_burger {
        margin-left: -1.9rem;
    }
}