@import "./variables.scss";

/*=== MIXINS ===*/
@mixin flex-locating(
  $_flex-direction: row,
  $_align-items: stretch,
  $_justify-content: flex-start
) {
  display: flex;
  justify-content: $_justify-content;
  align-items: $_align-items;
  flex-direction: $_flex-direction;
}

@mixin lg() {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin md() {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin sm() {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin xs() {
  @media screen and (max-width: $breakpoint-xs) {
    @content;
  }
}