/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*===Fonts===*/
/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:48 AM */
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
/*=== Breakpoints ===*/
/*=== Color palette ===*/
/*=== MIXINS ===*/
/*=== Global selectors ===*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section {
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 500;
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  width: 100%; }

h1, h2, h3, h4, h5, p, span {
  font-weight: 800;
  color: #1A2A7C; }

h1 {
  font-size: 6.6rem;
  line-height: 5.4rem;
  letter-spacing: 0.01em; }

h2 {
  font-size: 6rem;
  line-height: 6rem; }

h3 {
  font-size: 4rem;
  line-height: 4.8rem; }

h4 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.8rem; }

h5 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem; }

p, span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.01em; }

img {
  height: auto;
  max-width: 100%; }

input {
  /*reset default styles for iPhone*/
  border-radius: 0;
  -webkit-appearance: none;
  outline: none; }

a:focus {
  outline: none; }

/*=== Utility classes ===*/
.container {
  position: relative;
  width: 120rem;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: auto; }

.input {
  max-width: 100%;
  height: 5.4rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 5.4rem;
  background: #fff;
  border: 2px solid #CCCEDE;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .input:focus {
    border-color: #4253FF; }

.button {
  max-width: 100%;
  height: 5.4rem;
  padding: 0 1.7rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 5.4rem;
  color: #fff;
  background-color: #4253FF;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  text-transform: uppercase; }
  .button:disabled {
    background-color: #E8EAFF; }
  .button__arrow {
    margin-left: 1rem; }

@media screen and (max-width: 1200px) {
  .container {
    width: 96rem; } }
@media screen and (max-width: 991px) {
  .container {
    width: 72rem; } }
@media screen and (max-width: 768px) {
  .container {
    width: 54rem; } }
@media screen and (max-width: 576px) {
  .container {
    width: 100%; } }
/* The container must be positioned relative: */
.custom-select {
  position: relative; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 1.5rem;
  right: 1.6rem;
  width: 2rem;
  height: 2rem;
  -webkit-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  height: 5rem;
  font-size: 1.55rem;
  line-height: 5rem;
  color: #1A2A7C;
  padding: 0 1.6rem;
  border: 0.1rem solid #e1e1e1;
  cursor: pointer; }

/* Style items (options): */
.select-items {
  position: absolute;
  max-height: 25rem;
  overflow: auto;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.header {
  width: 100%;
  background-color: #fff; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 11.4rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 768px) {
      .header__wrapper {
        height: 6rem;
        border-bottom: none; } }
  .header__logo {
    width: 15.4rem; }
    @media screen and (max-width: 768px) {
      .header__logo {
        width: 10rem; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media screen and (max-width: 991px) {
      .header__menu {
        position: absolute;
        top: 11.4rem;
        left: -1.5rem;
        width: 100%;
        height: calc(100vh - 11.4rem);
        padding: 0 1.5rem 0;
        display: none;
        background: #fff; } }
    @media screen and (max-width: 768px) {
      .header__menu {
        top: 6rem;
        height: calc(100vh - 6rem); } }
    .header__menu__overlay {
      display: none; }
      @media screen and (max-width: 991px) {
        .header__menu__overlay {
          position: fixed;
          top: 11.4rem;
          left: 0;
          width: 100vw;
          height: calc(100vh - 11.4rem);
          background: #fff; } }
      @media screen and (max-width: 768px) {
        .header__menu__overlay {
          top: 6rem;
          height: calc(100vh - 6rem); } }
  .header__nav {
    padding-right: 7rem; }
    @media screen and (max-width: 1200px) {
      .header__nav {
        padding-right: 1.5rem; } }
    @media screen and (max-width: 991px) {
      .header__nav {
        padding: 1.5rem 0 2rem; } }
    .header__nav-item {
      padding: 0 2rem;
      display: inline-block; }
      .header__nav-item.current .header__nav-link, .header__nav-item:hover .header__nav-link {
        color: #4253FF;
        border-bottom: 0.2rem solid #4253FF; }
        @media screen and (max-width: 991px) {
          .header__nav-item.current .header__nav-link, .header__nav-item:hover .header__nav-link {
            border-bottom: 0.2rem solid transparent; } }
      @media screen and (max-width: 1200px) {
        .header__nav-item {
          padding: 0 1rem; } }
      @media screen and (max-width: 991px) {
        .header__nav-item {
          display: block;
          padding: 0; } }
    .header__nav-link {
      display: block;
      color: #1A2A7C;
      text-decoration: none;
      font-size: 1.4rem;
      line-height: 17px;
      font-weight: bold;
      border-bottom: 0.2rem solid transparent; }
      .header__nav-link.active {
        color: #4253FF;
        border-bottom: 0.2rem solid #4253FF; }
        @media screen and (max-width: 991px) {
          .header__nav-link.active {
            border-bottom: 0.2rem solid transparent; } }
      @media screen and (max-width: 991px) {
        .header__nav-link {
          padding: 1.5rem 0;
          font-size: 1.6rem; } }
  .header__button {
    width: 17rem;
    margin-left: 1.5rem; }
    @media screen and (max-width: 991px) {
      .header__button {
        margin: 5.4rem 0 2rem; } }
  .header__burger--toggler {
    display: none;
    position: relative;
    cursor: pointer; }
    @media screen and (max-width: 991px) {
      .header__burger--toggler {
        display: block; } }
  .header__burger--line {
    width: 3rem;
    border-top: 0.2rem solid #111;
    margin-bottom: 0.6rem; }
    .header__burger--line-bottom {
      margin-bottom: 0; }
  .header__burger--trigger {
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%; }
  .header#top-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out; }
  .header.site-header-hide {
    top: -11.4rem !important; }

.menu-open #top-nav.header.site-header-hide {
  top: 0 !important; }

.main {
  padding: 23.9rem 0 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .main {
      padding: 8.5rem 0 0; } }
  .main__text-lg {
    margin-bottom: 2rem; }
    @media screen and (max-width: 768px) {
      .main__text-lg {
        font-size: 2.6rem;
        line-height: 3rem;
        margin-bottom: 0.9rem; } }
  .main__text-md {
    font-size: 2.2rem;
    line-height: 3.4rem; }
    @media screen and (max-width: 768px) {
      .main__text-md {
        font-size: 1.6rem;
        line-height: 2.2rem; } }
  .main__text-sm {
    font-weight: bold; }
  .main__hero {
    position: relative;
    padding-top: 14rem; }
    @media screen and (max-width: 768px) {
      .main__hero {
        padding-top: 3.3rem; } }
    .main__hero-image {
      position: relative;
      z-index: 3; }
    .main__hero-cloud {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      position: absolute;
      z-index: 1;
      background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
      background: linear-gradient(0deg, #ffffff, #ffffff);
      -webkit-box-shadow: 0.4rem 0.2rem 1.6rem rgba(136, 165, 191, 0.48), -0.4rem -0.2rem 1.6rem #ffffff;
              box-shadow: 0.4rem 0.2rem 1.6rem rgba(136, 165, 191, 0.48), -0.4rem -0.2rem 1.6rem #ffffff;
      border-radius: 16px; }
      .main__hero-cloud::before {
        position: absolute;
        top: 100%;
        content: "";
        border-top: 1.3rem solid #ffffff;
        border-bottom: 1.3rem solid transparent;
        z-index: 2;
        -webkit-filter: drop-shadow(0.4rem 0.2rem 1.6rem rgba(136, 165, 191, 0.48));
                filter: drop-shadow(0.4rem 0.2rem 1.6rem rgba(136, 165, 191, 0.48)); }
      .main__hero-cloud::after {
        position: absolute;
        bottom: 0;
        content: "";
        width: 5rem;
        height: 2rem;
        background: #fff;
        z-index: 2; }
      @media screen and (max-width: 768px) {
        .main__hero-cloud {
          display: none; } }
      .main__hero-cloud-1 {
        top: 21rem;
        left: 16.5rem;
        width: 20.1rem;
        height: 10rem; }
        .main__hero-cloud-1::after {
          right: 1.7rem; }
        .main__hero-cloud-1::before {
          right: 2rem;
          border-right: 2.2rem solid #ffffff;
          border-left: 2.2rem solid transparent; }
        @media screen and (max-width: 1200px) {
          .main__hero-cloud-1 {
            left: 5.5rem; } }
        @media screen and (max-width: 991px) {
          .main__hero-cloud-1 {
            left: 0;
            top: 6rem; } }
      .main__hero-cloud-2 {
        top: 11rem;
        left: 55rem;
        width: 18.7rem;
        height: 7.7rem; }
        .main__hero-cloud-2::after {
          left: 1.7rem; }
        .main__hero-cloud-2::before {
          left: 2rem;
          border-left: 2.2rem solid #fff;
          border-right: 2.2rem solid transparent; }
        @media screen and (max-width: 1200px) {
          .main__hero-cloud-2 {
            left: 44rem; } }
        @media screen and (max-width: 991px) {
          .main__hero-cloud-2 {
            left: 30rem; } }
      .main__hero-cloud-3 {
        top: 14.6rem;
        right: 9rem;
        width: 19.5rem;
        height: 10rem; }
        .main__hero-cloud-3::after {
          left: 1.7rem; }
        .main__hero-cloud-3::before {
          left: 2rem;
          border-left: 2.2rem solid #fff;
          border-right: 2.2rem solid transparent; }
        @media screen and (max-width: 1200px) {
          .main__hero-cloud-3 {
            right: 0; } }
        @media screen and (max-width: 991px) {
          .main__hero-cloud-3 {
            top: 2.6rem; } }

.about-us__top {
  position: relative;
  height: 55rem;
  padding-top: 32.8rem;
  background: #d8385d; }
  @media screen and (max-width: 768px) {
    .about-us__top {
      height: 80rem;
      padding-top: 68rem; } }
  @media screen and (max-width: 576px) {
    .about-us__top {
      height: 38rem;
      padding-top: 25.8rem; } }
  .about-us__top-text {
    max-width: 64rem;
    margin: auto;
    font-size: 2.2rem;
    line-height: 3.4rem;
    color: #fff;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .about-us__top-text {
        font-size: 1.6rem;
        line-height: 150%; } }
.about-us__middle {
  background: #fff; }
  .about-us__middle__text {
    max-width: 60rem;
    padding: 26.7rem 0 20rem;
    margin: auto;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .about-us__middle__text {
        max-width: 25rem;
        padding: 5.1rem 0 7.3rem; } }
    @media screen and (max-width: 768px) {
      .about-us__middle__text-lg {
        font-size: 2.6rem;
        line-height: 30px; } }
    .about-us__middle__text-md {
      font-size: 2.2rem;
      line-height: 3.4rem; }
      @media screen and (max-width: 768px) {
        .about-us__middle__text-md {
          font-size: 16px;
          line-height: 22px; } }
    .about-us__middle__text-margin {
      margin-bottom: 5rem; }
      @media screen and (max-width: 768px) {
        .about-us__middle__text-margin {
          margin-bottom: 1rem; } }
  .about-us__middle__img {
    width: 20.7rem; }
    @media screen and (max-width: 768px) {
      .about-us__middle__img {
        width: 10.5rem; } }
.about-us__grid__wrapper {
  margin: 0 -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.about-us__grid__column {
  width: 50%;
  padding: 0 1.5rem; }
  @media screen and (max-width: 768px) {
    .about-us__grid__column {
      width: 100%; }
      .about-us__grid__column:first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .about-us__grid__column:last-child {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
.about-us__bottom {
  padding-bottom: 13.6rem;
  background: #fff; }
  @media screen and (max-width: 768px) {
    .about-us__bottom {
      padding-bottom: 5rem; } }
  .about-us__bottom__text-lg {
    font-size: 4rem;
    line-height: 5rem; }
    @media screen and (max-width: 768px) {
      .about-us__bottom__text-lg {
        font-size: 2.4rem;
        line-height: 3rem; } }
  .about-us__bottom__text-bold {
    font-weight: 800; }
  .about-us__bottom__text-block {
    display: block; }
  .about-us__bottom__margin {
    margin-bottom: 2rem; }
  .about-us__bottom__padding {
    padding-left: 10rem; }
    @media screen and (max-width: 991px) {
      .about-us__bottom__padding {
        padding-left: 1.5rem; } }
    @media screen and (max-width: 991px) {
      .about-us__bottom__padding-md {
        padding-left: 7rem; } }
    @media screen and (max-width: 768px) {
      .about-us__bottom__padding-md {
        padding-bottom: 4.9rem; } }
  .about-us__bottom__images {
    position: relative;
    width: 100%;
    max-width: 32.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto; }
    @media screen and (max-width: 991px) {
      .about-us__bottom__images {
        max-width: 25rem; } }
    @media screen and (max-width: 768px) {
      .about-us__bottom__images {
        max-width: 21rem; } }
  .about-us__bottom__image2 {
    position: absolute;
    bottom: -0.4rem;
    left: -9.8rem;
    width: 17.9rem; }
    @media screen and (max-width: 991px) {
      .about-us__bottom__image2 {
        left: -6.4rem;
        width: 13.9rem; } }
    @media screen and (max-width: 768px) {
      .about-us__bottom__image2 {
        width: 11.6rem; } }
.about-us__button {
  width: 17rem;
  margin: 2rem 0; }
.about-us__icon--absolute {
  position: absolute; }
.about-us__icon-tg {
  top: 12.1rem;
  left: 0;
  width: 11.7rem; }
  @media screen and (max-width: 768px) {
    .about-us__icon-tg {
      top: 3.7rem;
      left: 1.3rem;
      width: 3.4rem; } }
.about-us__icon-msn {
  top: 13.5rem;
  right: 0;
  width: 9.3rem; }
  @media screen and (max-width: 768px) {
    .about-us__icon-msn {
      top: 2rem;
      right: 2rem;
      width: 3rem; } }
.about-us__icon-viber {
  bottom: 14.7rem;
  left: 4.4rem;
  width: 11.6rem; }
  @media screen and (max-width: 768px) {
    .about-us__icon-viber {
      bottom: 8.7rem;
      left: 3.6rem;
      width: 3.4rem; } }

.mobile-animate {
  position: absolute;
  top: -13rem;
  left: calc(50% - 41rem);
  z-index: 4;
  width: 82rem;
  max-width: 100%; }
  @media screen and (max-width: 991px) {
    .mobile-animate {
      left: calc(50% - 35rem);
      width: 70rem; } }
  @media screen and (max-width: 768px) {
    .mobile-animate {
      left: calc(50% - 21rem);
      width: 42rem; } }
  @media screen and (max-width: 576px) {
    .mobile-animate {
      top: -7.2rem;
      left: 0;
      width: 100%;
      text-align: center; } }
  .mobile-animate__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30.9rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media screen and (max-width: 768px) {
      .mobile-animate__logo {
        display: none; } }
  @media screen and (max-width: 768px) {
    .mobile-animate__image--large {
      display: none; } }
  .mobile-animate__image--small {
    display: none; }
    @media screen and (max-width: 768px) {
      .mobile-animate__image--small {
        display: inline;
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .mobile-animate__image--small {
        width: 16.4rem; } }

.business-types {
  padding: 14rem 0 20rem;
  background: #F6F7FF; }
  .business-types__padding {
    padding: 0 10rem; }
  .business-types__heading__margin {
    margin-bottom: 9.7rem; }
