/*=== Breakpoints ===*/
$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
// $breakpoint-xxs: 375px;

/*=== Color palette ===*/
$blue: #4253FF;
$dark-blue: #1A2A7C;
$pink: #D8385D;
$violet: #391A7C;
$turquoise: #46C4AE;
$white: #ECEEFF;